@use '../../../scss/media' as m;

.title_h1 {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 800;
}

@media (min-width: m.$mobile) {
  .title_h1 {
    margin-bottom: 1.375rem;
    font-size: 3rem;
  }
}

@media (min-width: m.$tablets) {
  .title_h1 {
    font-size: 4.5rem;
  }
}
